*{
	box-sizing: border-box;
}
body{
	background: #6f6b6b;
	padding: 1%;
}
.flex-container{
	padding: 5px;
	margin: auto;
	background: #fff;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(230, 103, 103, 0.27);
}
.flex-element{
	border-radius: 5px;
	padding: 5px;
	background: #48bc55;
	color: #fff;
	border: 1px solid black;
}