.container{
	margin: auto;
	width: 1260px;
	position: relative;
	
}
/* -------------styling logo----------------*/

.bologna{
	display: block;
	width: 240px;
	height: 35px;
	margin: auto;
	margin-top: 65px;
}
.underlogo{
	width: 230px;
	height: 8px;
	font-family: QuattrocentoSans;
	color: #cdcdcd;
	font-size: 12px;
	font-weight: 700;
	line-height: 36px;
	transform: scale(1.001,1);
	text-transform: uppercase;
}
.navigation{
margin-top: 130px;
	position: absolute;
	z-index: 2;
	margin-left: 320px;
	}
.navigation li{
	display: inline-block;
		margin-left: 20px;
}

/* ------all refs-------- */
a{text-decoration: none;}
/* --------- navigation style--------- */
.bg{
	margin-top: 100px;
	width: 1920px;
	height: 80px;
	background-color: #ffffff;
	box-shadow: 1px 3px 9.9px 0.1px rgba(206, 206, 206, 0.32);
	position: relative;
	min-width: 1260px;
	padding-top: 15px;
	}
.follow li{ 
	display: inline-block;
	margin-left: 20px;
	float: left;
}
form{
	display: inline-block;
	margin-left: 1570px;
	}
.submit{
	border: none;
	border-left: 1px solid grey;
	cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
	width: 40px;
	height: 20px;
}
.text{
	border: none;
}

/* ------image style----- */
div>img{width: 1920px;
	height: 690px;}



